.gradle
.idea/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
bin/
gen/
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store

*.ipr
*.iws
*.iml
*.class
*.apk
*.ap_
*.dex